@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

/*SELETOR GERAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*ROOT*/
:root {
    /*CORES*/
    --Marrom-escuro: #5A3E2B;
    --Bege-claro:#F5E1C8;
    --Dourado-suave:#D4A373;
    --Dourado-metálico: #C8A951;
    --cinza: #5E5E5E;
    --verde: #445925;

    /*FONTES*/
    --fonte-titulos: "Outfit", sans-serif;
    --fonte-menu: "Poppins", sans-serif;
    --fonte-palavras-que-mudam: "Oswald", sans-serif;
    --fonte-textos: "Lexend Deca", sans-serif;
    --fonte-preço: "Arimo", sans-serif;
}   

/*HEADER, PARTE DOS MENUS E LOGOS*/
header {
    width: 100%;
    padding: 10px 6%;
    background-color: var(--Marrom-escuro);
    position: fixed;
    z-index: 98;
}

/* NAV */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* IMAGEM (LOGO) */
header nav > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* LISTA NÃO ORDENADA */
header nav ul {
    display: flex;
    padding: 10px;
    list-style-type: none;
}

/* LINKS  */
header nav ul > a {
    color: var(--Bege-claro);
    font-family: var(--fonte-menu);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

/* SPAN QUE ESTA OS ICONES */
header nav .icones > span {
    cursor: pointer;
    color: white;
}

/*Icone de hamburguer*/
header nav .icones #menuHamburguer {
    display: none;
    margin: 30px;
}

/* ESSE É O MENU MOBILE (HOME, SOBRE NÓS, CARDÁPIO E CONTATO) */
header .menu_mobile {
    display: none;
}



/* AGORA É A PARTE DO MAIN*/
main {
    background-color: var(--Bege-claro);
}

/* DIV DO TEXTO QUE MUDA AS FRASES  */
main .texto-muda {
    text-align: center;
    padding-top: 90px;
    background-color: var(--Marrom-escuro);
}

/* TEXTO QUE MUDA AS FRASES */
main .texto-muda #txt {
    color: white;
    font-family: var(--fonte-palavras-que-mudam);
    font-size: 2rem;
}

/* Sobre Nos */
main .sobre_Nos {
    padding: 15px 4%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 10%;
}

/* SOBRE NÓS ARTICLE */
main .sobre_Nos > article {
    padding: 10px;
}

/* H1 DO SOBRE NÓS */
main .sobre_Nos > article > h1 {
    text-align: center;
    padding: 15px;
    font-family: var(--fonte-titulos);
    color: var(--verde);
    animation:  aumentarTamanho 4s ease-in-out alternate infinite;
}

/* PARAGRAFO DO SOBRE NÓS */
main .sobre_Nos > article > p {
    font-size: 20px;
    line-height: 40px;
    font-family: var(--fonte-textos);
}

/*CARDÁPIO*/
main .cardapio {
    background-color: var(--Dourado-suave);
}

/* CONTAINER QUE ESTA O ARTICLE E AS DIVS COM AS IMAGUENS E PREÇOS*/
main .cardapio > article .container-cardapio {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 80px;
}

/* ARTICLE*/
main .cardapio > article {
    text-align: center;
}

/* H1 */
main .cardapio > article h1 {
    font-family: var(--fonte-titulos);
    font-size: 2rem;
    color: var(--verde);
    padding: 50px ;
}

/* IMAGEM */
main .cardapio  article .container-cardapio .comidas img {
   width: 220px;
   border-radius: 10px;
}

/* PREÇOS */
main .cardapio > article .container-cardapio .comidas > p {
    font-family: var(--fonte-preço);
    padding: 10px;
    color: white;
    background-color: var(--Marrom-escuro);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
}

/* ESSA É A PARTE DOS DOIS BOTÕES + E - E  O BOTÃO DE COMPRAR*/
main .cardapio > article .container-cardapio .comidas  .inplementos {
    display: flex;
    padding: 25px;
    color: white;
    background-color: var(--Marrom-escuro);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main .cardapio > article .container-cardapio .comidas  .inplementos > p {
    padding: 5px;
}

main .cardapio > article .container-cardapio .comidas  .inplementos > input {
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: var(--Dourado-metálico);
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-weight: 500;
}



/*PARTE DO CONTATO COM H1, INPUTS*/ 
main #contato {
    text-align: center;
    background-color: var(--Dourado-suave);
    width: 500px;
    height: 400px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
}

/*PARTE DO H1*/
main #contato > article h1 {
    font-size: 2rem;
    font-family: var(--fonte-titulos);
    color: var(--verde);
    padding: 20px;
    background-color: var(--Bege-claro);
    margin-bottom: 10px;
}

/*FORM AONDE ESTA OS INPUTS */
main #contato > article > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}


/* PARTE DO INPUT E DO TEXTWARE*/
main #contato > article > form > input,textarea {
    outline-color: var(--Dourado-metálico);
    width: 300px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

/*PARTE DO BOTÃO */
main #contato > article > form button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin-top: 20px;
}

/*PARTE DO BOTÃO COM HOVER */
main #contato > article > form button:hover {
    background-color: #dbdbdb;
    padding: 19px;
}

/*FOOTER*/
footer {
    color: white;
    background-color: #5A3E2B;
    padding: 80px;
    text-align: center;
}

/*FOOTER PARAGRAFOS*/
footer > p {
    font-family: var(--fonte-textos);
    font-size: 1.2rem;
    padding: 20px;
}

@keyframes aumentarTamanho {
    0% {
        scale: 100%;
    }

    100% {
        scale: 110%;
    }
    
    
}