@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

/*SELETOR GERAL*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*ROOT*/
:root {
    /*CORES*/
    --Marrom-escuro: #5A3E2B;
    --Bege-claro:#F5E1C8;
    --Dourado-suave:#D4A373;
    --Dourado-metálico: #C8A951;
    --cinza: #5E5E5E;
    --verde: #445925;

    /*FONTES*/
    --fonte-titulos: "Outfit", sans-serif;
    --fonte-menu: "Poppins", sans-serif;
    --fonte-palavras-que-mudam: "Oswald", sans-serif;
    --fonte-textos: "Lexend Deca", sans-serif;
    --fonte-preço: "Arimo", sans-serif;
}   

/*HEADER, PARTE DOS MENUS E LOGOS*/
header {
    width: 100%;
    padding: 15px 6%;
    background-color: var(--Marrom-escuro);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header nav ul {
    display: flex;
    padding: 10px;
    list-style-type: none;
}

header nav ul > a {
    color: var(--Bege-claro);
    font-family: var(--fonte-menu);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

header nav .icones > span {
    cursor: pointer;
    color: white;
}

/*Icone de hamburguer*/
header nav .icones #menuHamburguer {
    display: none;
    margin: 30px;
}

header .menu_mobile {
    display: none;
}



/* AGORA É A PARTE DO MAIN*/
main {
    background-color: var(--Bege-claro);
}

main .texto-muda {
    text-align: center;
    padding: 10px;
    background-color: var(--Marrom-escuro);
}

main .texto-muda #txt {
    color: white;
    font-family: var(--fonte-palavras-que-mudam);
    font-size: 2rem;
}

/* Sobre Nos */
main .sobre_Nos {
    padding: 15px 4%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 10%;
}

main .sobre_Nos > article {
    padding: 10px;
}

main .sobre_Nos > article > h1 {
    text-align: center;
    padding: 15px;
    font-family: var(--fonte-titulos);
    color: var(--verde);
    animation:  aumentarTamanho 4s ease-in-out alternate infinite;
}

main .sobre_Nos > article > p {
    font-size: 20px;
    line-height: 40px;
    font-family: var(--fonte-textos);
}

/*CARDAPIO*/
main .cardapio {
    background-color: var(--Dourado-suave);
}

main .cardapio > article {
    
    text-align: center;
}

main .cardapio  article .comidas img {
   width: 150px;
   
}






@keyframes aumentarTamanho {
    0% {
        scale: 100%;
    }

    100% {
        scale: 110%;
    }
    
    
}